#photo {
    background-color: blanchedalmond;
    height: 900px;
}
.photo-col {
    background-color: chocolate;
    height: 900px;
}
.photo-sm{
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-color: rgb(221,200,190);
    margin-top: 20px;
}
.photo-big{
    width: 100%;
    height: 480px;
    overflow: hidden;
    background-color: rgb(158,118,99);
    margin-top: 20px;
}
@media (min-width: 575.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height: 400px;
    }
}
@media (min-width: 767.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height: 600px;
    }
}
@media (min-width: 991.98px){
    .video{
        margin-top: 20px;
        width:100%;
        height: 800px;
    }
}